@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif|Covered+By+Your+Grace);
* {margin:0;padding:0;box-sizing:border-box;}


header {
    background-color: #ffed74;
    border: 1px black solid;
    padding: 20px;

	}

section#splash{
  background-color: #EEF3FF;
  background-image: url(../images/customer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 10em;
  color: #fff;
}
nav {
	float:right;
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
h1{
  font-family: 'Bree Serif', serif;
  text-align:center;
  color:black;
  font-size: 40px;
  float: left;
}

h2 {
	font-family: 'Covered By Your Grace', cursive;
	text-align:center;
	font-size: 40px;
}

#slogan {
	font-style:italic;
	text-align: center;
}

#services {
 background-color: #FFE2B8;
 border: 1px black solid;
 padding: 20px;
}

footer{
 background-color: #FF957E;
 border: 1px black solid;
 padding: 20px;

}